<template>
<div>
    <h1>Question box</h1>
    <h1>{{msg}}</h1>
    <button v-on:mouseover="hello('Arnab')">Click</button>
</div>
</template>

<script>
export default {
    name:'Home',
    props:{
        data:String,
        msg:String
    },methods:{
        hello(data){
            alert("Hello From "+data);
            console.log("Arnab");
        }
    }
}
</script>